<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>form-group directive</title>
   <link href="styles/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" type="text/css" />
</head>
<body ng-controller="app.ctrl">

   <div class="container-fluid">
      <h1>Angular\Bootstrap form-group directive</h1>

      <form name="form" class="form-horizontal" ng-submit="submit(form)" novalidate>
         <div class="form-group" form-group 
              pristine-message="Pristine text"
              valid-message="Nice text!" 
              invalid-message="Please enter some text"
              invalid-required-message="Some text is required"
              invalid-minlength-message="Please enter at least 3 characters"
              invalid-maxlength-message="Whoa! That's too long!">
            <label for="text" class="col-md-2 control-label">Text</label>
            <div class="col-md-10">
               <input id="text" name="text" type="text" placeholder="Enter text" class="form-control" ng-model="model.text" required
                      ng-minlength="3"
                      ng-maxlength="10" />
                <span class="help-block">{{message}}</span>
            </div>
         </div>
         <div class="form-group" form-group valid-message="{{model.number}} is a nice number!"
              pristine-message="Pristine number"
              invalid-message="Please enter a number from 5-10"
              invalid-min-message="The number {{model.number}} is too low"
              invalid-max-message="The number {{model.number}} is too high"
              invalid-required-message="The number is required">
            <label for="number" class="col-md-2 control-label">Number (5-10)</label>
            <div class="col-md-10">
               <input id="number" name="number" type="number" placeholder="Enter number" class="form-control"
                      ng-model="model.number" min="5" max="10" required
                      ng-model-options="{allowInvalid: true}" />
               <span class="help-block">{{message}}</span>
            </div>
         </div>
         <div class="form-group" form-group 
              pristine-message="Pristine selection"
              valid-message="Nice selection!" 
              invalid-message="Please make a selection"
              invalid-required-message="A selection is required">
            <label for="select" class="col-md-2 control-label">Select</label>
            <div class="col-md-10">
               <select id="select" name="select" class="form-control" ng-model="model.select" required>
                  <option value="">Select one</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
               </select>
                <span class="help-block">{{message}}</span>
            </div>
         </div>

         <div class="btn-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" ng-click="reset(form)">Reset</button>
         </div>
      </form>
   </div>

   <script src="lib/angular/angular.js"></script>
   <script src="form-group.js"></script>
   <script src="app.js"></script>
</body>
</html>
